@namespace MudBlazor
@typeparam T
@typeparam M
@using MudBlazor.Utilities
@inherits MudBaseColumn

@if (Visible) {
    @if (Mode == Rendermode.Header) {
        <MudTh Style="@Stylevalues" DisableGutters="@DisableGuttersValue">
            <span style="@MiniHeaderTextSpanStyle">@HeaderText</span>
        </MudTh>
    } else if (Mode == Rendermode.Item || (ReadOnly && Mode == Rendermode.Edit)) {
        @if (ItemTemplate != null) {
            <MudTd DataLabel="@HeaderText" Style="@Stylevalues" DisableGutters="@DisableGuttersValue">
                @ItemTemplate(Item)
            </MudTd>
        } else {
            <MudTd DataLabel="@HeaderText" Style="@Stylevalues" DisableGutters="@DisableGuttersValue">@GetFormattedString(Value)@ChildContent</MudTd>
        }
    } else if (Mode == Rendermode.Edit) {
        <MudTd DataLabel="@HeaderText" Style="@Stylevalues" DisableGutters="@DisableGuttersValue">

            @if (EditTemplate != null) {
                @EditTemplate(Item)
            } else {
                <MudTextField @bind-Value="Value" InputType="@InputType"/>
            }

        </MudTd>
    } else if (Mode == Rendermode.Footer) {
        @if (_footerValueAvailable) {
            <MudTd Style="@Stylevalues" DisableGutters="@DisableGuttersValue">
                @GetFormattedString(FooterValue)
            </MudTd>
        } else {
            <MudTd Style="@Stylevalues" DisableGutters="@DisableGuttersValue">
                @FooterText
            </MudTd>
        }
    }
}